.search-bar {
    display: flex;
    background-color: rgb(56, 55, 55);
}

.timkiem {
    color: gray;
    text-align: center;
    background-color: black;
    justify-content: center;
    display: flex;
}

.icon img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    margin: 5px;
}

.nhac {
    display: flex;
    background-color: black;
}

.nhac1 {
    width: 20%;
    background-color: rgb(56, 55, 55);
    border-radius: 15px;
    margin: 5px;
    overflow: scroll;
    scrollbar-width: none;
    height: 580px;
    ;
}

.nhac2 {
    width: 55%;
    background-color: rgb(56, 55, 55);
    border-radius: 15px;
    margin: 5px;
}

.nhac3 {
    width: 25%;
    background-color: rgb(56, 55, 55);
    border-radius: 15px;
    margin: 5px;
}

.nhac1-1 {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

.create {
    font-size: 15px;
    float: right;
    text-decoration: none;
    color: white;
    border: 2px solid gray;
    border-radius: 15px;
    margin: 5px;
    background-color: gray;
}

.search-bar-music {
    display: flex;
}

.nhac1-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.album-card {
    display: flex;
    align-items: center;
    background-color: rgb(56, 55, 55);
    border-radius: 8px;
    padding: 5px;
    max-width: 400px;
    color: white;
    font-family: sans-serif;
}

.album-card:hover {
    background-color: #282828;
}

.album-card img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 15px;
}

.album-info h4 {
    margin: 0;
    font-size: 16px;
}

.album-info p {
    margin: 4px 0 0;
    font-size: 14px;
    color: #b3b3b3;
}

.nhac2-1 {
    display: flex;

}

.created {
    font-size: 15px;
    float: left;
    text-decoration: none;
    color: white;
    border: 2px solid grey;
    border-radius: 15px;
    margin: 5px;
    background-color: grey;
}

.danhsach-music-card {
    display: flex;
}

.music-card {
    display: flex;
    align-items: center;
    background-color: gray;
    border-radius: 8px;
    width: 100%;
    padding: 5px;
    max-width: 400px;
    color: white;
    font-family: sans-serif;
    margin: 5px;
}

.music-card:hover {
    background-color: #282828;
}

.music-card img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 15px;
}

.music-info h4 {
    margin: 0;
    font-size: 16px;
}

.music-info p {
    margin: 4px 0 0;
    font-size: 14px;
    color: #b3b3b3;
}

.nhac2-3 {
    margin: 15px;
    color: rgba(255, 255, 255, 0.61);
}

.nhac2-3-1 {
    color: rgba(255, 255, 255, 0.61);
}

.danhsach-song-card {
    display: flex;
}

.song-card {
    display: flex;
    align-items: center;
    background-color: gray;
    border-radius: 8px;
    width: 100%;
    padding: 5px;
    max-width: 400px;
    color: white;
    font-family: sans-serif;
    margin: 5px;
}

.song-card:hover {
    background-color: #282828;
}

.song-card img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 15px;
}

.song-info h4 {
    margin: 0;
    font-size: 16px;
}

.song-info p {
    margin: 4px 0 0;
    font-size: 14px;
    color: #b3b3b3;
}

.nhac3-2 video {
    display: flex;
    height:200px;
	margin: 20px auto;
	width:90%;
	border-radius:15px;
	background-color: black;
    justify-content: center;
}